body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #FFFAF5;
    overflow-x: hidden; 
}

* {
    box-sizing: border-box;
}


.header {
    background-image: linear-gradient(to bottom, rgba(223, 210, 206, 0.8), #FFFAF5), 
                      url('https://i.imgur.com/yJ6OCsZ.jpeg'); /* Gradient blending into body color */
    background-size: cover; /* Ensure the background image covers the entire header */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent image repetition */
    color: #FFFAF5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 300px;
    text-align: center;
    flex-direction: column; 
}


.navbar {
    background-color: #DFD2CE;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Align items to the right */
    align-items: center; /* Vertically center items */
    position: relative;
    height: 45px; /* Adjust the height as needed */
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-top: 17px; /* Vertically center items */
}

.navbar-left svg {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    fill: #302112; /* Adjust color as needed */
    transition: transform 0.3s ease;
}

.navbar-left svg:hover {
    transform: scale(1.1); /* Add hover effect */
}

.navbar-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display the navigation items as flex items */
}

.navbar-right li {
    margin-right: 30px;
}

.navbar-right li:last-child {
    margin-right: 0; /* Remove right margin for the last item */
}

.navbar-right li a {
    color: #302112;
    text-decoration: none;
}


.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.profile img {
    border-radius: 50%;
    width: 250px; /* Increase image width */
    height: 250px; /* Increase image height */
    border: 4px solid #E7E4E1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Slightly increase shadow */
    margin-top: 20px; /* Reduce spacing above the image */
    margin-bottom: 5px; /* Reduce spacing below the image */
}

.profile {
    color: #413D3E; /* Set the text color */
    text-align: center;
    margin-bottom: 5px; 
    margin-top: 20px; /* Add spacing above the profile container */
}

.profile h1 {
    font-size: 36px; /* Increase font size for the heading */
    margin-bottom: 5px; /* Reduce spacing below the heading */
}

.profile p {
    font-size: 16px; /* Increase font size for the paragraph */
    margin-bottom: 5px; /* Reduce spacing below the paragraph */
}


.container {
    max-width: 80%; /* Allow the container to span the full width */
    margin: 0 auto; /* Center the container */
    padding: 0 5px; /* Reduce padding on the sides */
    padding-bottom: 0; /* Remove bottom padding if not needed */
}


.section {
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute cards evenly */
    margin: 0; /* Remove extra margin */
    padding: 0; /* Remove extra padding */
}

.card {
    flex: 0 0 calc(33.33% - 10px); /* Set each card to take up 1/3 of the container width */
    background-color: #FFFAF5;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card h3 {
    margin-top: 50px;
    font-size: 20px;
}

.card p {
    color: #413D3E;
}

.card:last-child {
    margin-right: 0;
}

/* Initially hide the zoomed-in image */
.zoom-in {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    z-index: 9999;
    text-align: center;
    overflow: auto;
}

/* Show the zoomed-in image */
.zoom-in.show {
    display: block;
}

/* Style for the zoomed-in image */
.zoomed-image {
    max-width: 80%;
    max-height: 80%;
    margin: 5% auto;
}

/* For smaller screens, adjust the layout of the cards */
@media only screen and (max-width: 768px) {
    .card-container {
        justify-content: center; /* Center the cards horizontally */
    }

    .card {
        flex: 0 0 calc(100% - 20px); /* Set the width of the cards to 100% minus margins */
        margin-right: 0; /* Remove right margin */
    }
}

/* For even smaller screens, adjust styles further */
@media only screen and (max-width: 480px) {
    .card {
        padding: 20px; /* Adjust padding for smaller screens */
    }

    .card h3 {
        font-size: 18px; /* Decrease font size for card headings */
    }
}

/* Media query for mobile view */
@media only screen and (max-width: 600px) {
    .section h2,
    .section p {
        text-align: center; /* Align H2 and p to center on smaller screens */
    }
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    background-color: #FFFAF5;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.contact-link {
    margin-bottom: 10px;
}

.contact-details {
    margin-bottom: 20px;
}

.contact-detail {
    margin-bottom: 15px;
}

.contact-detail label {
    display: block;
    margin-bottom: 5px;
}

.contact-detail input, .contact-detail textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #F5F0EF;
    border-radius: 5px;
    font-size: 14px;
    background-color: #F5F0EF;
}

.contact-detail textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-link {
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

tool-link:last-child {
    margin-right: 0;
}

.tool-link a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.tool-link svg {
    margin-bottom: 5px;
}

#home {
    text-align: center; /* Center-align the text */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content closer to the top */
    align-items: center; /* Horizontally center the content */
    height: auto; /* Let the height adjust based on content */
    padding: 20px 10px; /* Add minimal padding */
    margin-top: 155px; /* Increase the top margin to lower the section */
    margin-bottom: 20px; /* Maintain spacing below the section */
    background-color: #FFFAF5; /* Match the body background color */
}

#home h2 {
    font-size: 28px; /* Adjust the font size for the heading */
    margin-bottom: 10px; /* Add spacing below the heading */
}

#home p {
    font-size: 16px; /* Adjust the font size for the paragraph */
    margin-top: 0; /* Remove extra margin above the paragraph */
}

#projects {
    text-align: center; /* Center-align the text */
    padding: 20px 10px; /* Add padding around the section */
}

#projects h2 {
    font-size: 28px; /* Adjust the font size for the heading */
    margin-bottom: 20px; /* Add spacing below the heading */
}

#contact {
    text-align: center; /* Center-align all content in the contact section */
}

#contact h2 {
    text-align: center; /* Center-align the text */
    margin: 0 auto 20px auto; /* Center the element horizontally and add spacing below */
    display: inline-block; /* Ensure the background wraps tightly around the text */
    background: radial-gradient(circle, rgba(241, 230, 223, 1) 0%, rgba(255, 255, 255, 0) 70%); /* Splash effect */
    padding: 20px 30px; /* Add padding around the text */
    border-radius: 10px; /* Add rounded corners */
    color: #413D3E; /* Set the text color */
    position: relative; /* Allow positioning if needed */
    z-index: 1; /* Ensure it appears above other elements */
}

footer {
    background-color: #413D3E; /* Set the background color */
    color: #FFF; /* Set the text color */
    text-align: center; /* Center-align the text */
    padding: 20px; /* Add padding to the footer */
    bottom: 0; /* Stick the footer to the bottom of the page */
    width: 100%; /* Make the footer span the full width of the viewport */
}

.separator {
    border: none;
    border-top: 1px solid #F0EBE9; /* Set the color and thickness of the line */
    margin: 20px 0; /* Add spacing above and below the line */
    width: 100%; /* Extend the line to both ends */
}

.text-background {
    background: radial-gradient(circle, rgba(241, 230, 223, 1) 0%, rgba(255, 255, 255, 0) 70%); /* Splash effect */
    text-align: center; /* Center-align the text */
    padding: 20px 30px; /* Add padding around the text */
    border-radius: 10px; /* Add rounded corners */
    display: inline-block; /* Ensure the background wraps tightly around the text */
    margin: 0 auto 20px auto; /* Center the element horizontally and add spacing below */
    position: relative; /* Allow positioning if needed */
    z-index: 1; /* Ensure it appears above other elements */
    color: #413D3E; /* Set the text color */
}




