body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #FFFAF5;
    overflow-x: hidden; 
}

* {
    box-sizing: border-box;
}


.header {
    background-image: url('https://i.imgur.com/yJ6OCsZ.jpeg'); /* Add background image URL */
    background-size: cover; /* Ensure the background image covers the entire header */
    background-position: center; /* Center the background image */
    color: #FFFAF5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 300px;
    text-align: center;
    flex-direction: column; 
}


.navbar {
    background-color: #DFD2CE;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Align items to the right */
    align-items: center; /* Vertically center items */
    position: relative;
    height: 45px; /* Adjust the height as needed */
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-top: 17px; /* Vertically center items */
}

.navbar-left svg {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    fill: #302112; /* Adjust color as needed */
    transition: transform 0.3s ease;
}

.navbar-left svg:hover {
    transform: scale(1.1); /* Add hover effect */
}

.navbar-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display the navigation items as flex items */
}

.navbar-right li {
    margin-right: 30px;
}

.navbar-right li:last-child {
    margin-right: 0; /* Remove right margin for the last item */
}

.navbar-right li a {
    color: #302112;
    text-decoration: none;
}


.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.profile img {
    border-radius: 50%;
    width: 120px; /* Reduced image width */
    height: 120px; /* Reduced image height */
    border: 4px solid #E7E4E1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profile {
    color: #413D3E; /* Set the text color */
    text-align: center;
}

.profile h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.profile p {
    font-size: 18px;
    margin-bottom: 5px;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 0px;
    padding-bottom: 10px; /* Add padding to the bottom */
}


.section {
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card {
    flex: 0 0 calc(50.33% - 10px);
    background-color: #FFFAF5;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card h3 {
    margin-top: 50px;
    font-size: 20px;
}

.card p {
    color: #413D3E;
}

.card:last-child {
    margin-right: 0;
}

/* Initially hide the zoomed-in image */
.zoom-in {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    z-index: 9999;
    text-align: center;
    overflow: auto;
}

/* Show the zoomed-in image */
.zoom-in.show {
    display: block;
}

/* Style for the zoomed-in image */
.zoomed-image {
    max-width: 80%;
    max-height: 80%;
    margin: 5% auto;
}

/* For smaller screens, adjust the layout of the cards */
@media only screen and (max-width: 768px) {
    .card-container {
        justify-content: center; /* Center the cards horizontally */
    }

    .card {
        flex: 0 0 calc(100% - 20px); /* Set the width of the cards to 100% minus margins */
        margin-right: 0; /* Remove right margin */
    }
}

/* For even smaller screens, adjust styles further */
@media only screen and (max-width: 480px) {
    .card {
        padding: 20px; /* Adjust padding for smaller screens */
    }

    .card h3 {
        font-size: 18px; /* Decrease font size for card headings */
    }
}


.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    background-color: #FFFAF5;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.contact-link {
    margin-bottom: 10px;
}

.contact-details {
    margin-bottom: 20px;
}

.contact-detail {
    margin-bottom: 15px;
}

.contact-detail label {
    display: block;
    margin-bottom: 5px;
}

.contact-detail input, .contact-detail textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #F5F0EF;
    border-radius: 5px;
    font-size: 14px;
    background-color: #F5F0EF;
}

.contact-detail textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-link {
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.tool-link:last-child {
    margin-right: 0;
}

.tool-link a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.tool-link svg {
    margin-bottom: 5px;
}


footer {
    background-color: #413D3E; /* Set the background color */
    color: #FFF; /* Set the text color */
    text-align: center; /* Center-align the text */
    padding: 20px; /* Add padding to the footer */
    bottom: 0; /* Stick the footer to the bottom of the page */
    width: 100%; /* Make the footer span the full width of the viewport */
}



